@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    background-color: #313131;
}

* {
    font-family: Jost, Roboto, Arial, sans-serif;
    color: #ffffff;
}

a {
    transition: all 0.3s;
}

a:hover {
    text-shadow: 0 0 1rem gold;
    color: gold;
}

.intro {
    z-index: -1;
    font-weight: 200;
    font-size: 8rem;
    color: white;
    text-align: center;
    line-height: 90%;
    text-shadow: 0 0 1rem white;
    width: 100%;
    height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/bg1.png) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    border-left: none;
    border-right: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.intro img {
    position: absolute;
    opacity: 0.5;
    height: 90%;
}

main {
    font-size: 1.2rem;
}

main p {
    text-align: center;
}

main .platforms {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

main .platforms li {
    padding: 1rem;
    background-color: #1f1f1f;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

main .platforms li img {
    height: 32px;
}

@media screen and (max-width: 600px) {
    .intro {
        height: 28rem;
    }
}